#gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -30px;
}

.image-decor {
  width: 370px;
  height: 200px;
  margin-left: 30px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
